<%= button_to "Create Game", action: "create" %>

<%if session[:user_id]%>
<% @games.each do |game| %>
<%if game.player2_id == nil %>
<div>
  <%= game.id %>
  <%= link_to 'Join', join_game_path(game) %>
</div>

<% end %>
<% end %>
<% end %>
