<h1> Shiply Home Index </h1>
<h2>Attack Map</h2>
<div class="my_board">
  <%= render "shared/new_board" %>
</div>
<br>
<h2>Your Ships</h2>
<div class="opponent_board">
  <%= render "shared/new_board" %>
</div>
