<div class="title"><h1> SHIPLY HOME INDEX </h1></div>
<div class="my_board">
  <h2>Attack Map</h2>
  <%= render "shared/new_board" %>
</div>

<div class="opponent_board">
  <h2>Your Ships</h2>
  <%= render "shared/new_board" %>
</div>

<%= button_to "Create Game", action: "create" %>
