<script type=""></script>

<div class="set_board">
  <h1>Set your board</h1>
  <%= render "shared/new_board" %>
</div>
<div class="set_ship_form">
  <%= form_for :game_ship do |s| %>
  <form action="games#edit">
    <h3>Pick your ship</h3>
    <select id="ships" name="ships">
      <option id="carrier" value="carrier">Carrier</option>
      <option id="battleship" value="battleship">Battleship</option>
      <option id="submarine" value="submarine">Submarine</option>
      <option id="cruiser" value="cruiser">Cruiser</option>
      <option id="destroyer" value="destroyer">Destroyer</option>
    </select>
    <br><br>
    <h3>Select orientation</h3>
    <select name="orientation">
      <option value="horizontal">Horizontal</option>
      <option value="vertical">Vertical</option>
    </select>
    <br><br>
    <h3>Starting coordinate</h3>
    <div class="coordinate_box">


    </div>


  </form>
<%end%>


</div>



