<h1> Game show page </h1>



<div class="pass">
<%= button_to 'Pass', pass_game_path(game), :method => :patch %>
</div>



<div class="check">
<%= button_to 'Check', check_game_path(game), :method => :get, remote: true %>
</div>
