<h1> Game show page </h1>
<%= game.id %>
<%= game.player1 %>


<% if game.turn_id != session[:user_id] %>

<div class="my-turn">
<%= button_to 'My Turn', game_path(game), :method => :patch %>
</div>
<% end %>

