@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);


/*div {
  border: 1px solid red;
}*/

/*----------------------global attrs -----------------------*/


h1 {
   font-family: 'Oswald';
   font-size: 75px;
   color: #2C3256; 
   letter-spacing: 3px;
}


p {
  font-size: 20px;
}

* {
 font-family: 'Exo', sans-serif;
 color: #2C3256;
}

body {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}




/*----------------------register form -----------------------*/
.new_user_form {
  padding: 30px;
  position: absolute;
  width: 250px;
  height: 300px;
  z-index: 15;
  top: 35%;
  left: 50%;
  margin: -100px 0 0 -150px;
  border: 3px solid #2C3256;
  border-radius: 8px;
}


.new_user_form label {
  font-size: 50px;
}


.new_user_form input[type="submit"] {
  width: 120px;
  height: 40px;
  font-size: 22px;
  border-radius: 10px;
  margin-left: 25%;
  color: #2C3256;
}


.new_user_form input[type="text"] {
  width: 215px;
  height: 30px;
  font-size: 22px;
}



/*----------------------sign in form -----------------------*/
.new_session_form {
  padding: 30px;
  position: absolute;
  width: 250px;
  height: 300px;
  z-index: 15;
  top: 35%;
  left: 50%;
  margin: -100px 0 0 -150px;
  border: 3px solid #2C3256;
  border-radius: 8px;
}


.new_session_form label {
  font-size: 50px;
}


.new_session_form input[type="submit"] {
  width: 150px;
  height: 40px;
  font-size: 22px;
  border-radius: 10px;
  margin-left: 18%;
  color: #2C3256;
}


.new_session_form input[type="text"] {
  width: 215px;
  height: 30px;
  font-size: 22px;
}




/*----------------------set your ship buttons -----------------------*/

.poll_buttons {
    position: absolute;
    top: 250px;
    right: 50px;
    width: 200px;
    height: 120px;
}


.pass input[type="submit"] {
  width: 130px;
  height: 40px;
  font-size: 25px;
  border-radius: 10px;
  margin-left: 3%;
  margin-top: 3%;
  color: #2C3256;
}



.check input[type="submit"] {
  width: 130px;
  height: 40px;
  font-size: 25px;
  border-radius: 10px;
  margin-left: 3%;
  margin-top: 3%;
  color: #2C3256;
}


.new_game input[type="submit"] {
  width: 175px;
  height: 50px;
  font-size: 25px;
  border-radius: 10px;
  margin-left: 3%;
  margin-top: 5%;
  color: #2C3256;
  position: absolute;
}

.coordinate_box input[type="submit"] {
  width: 150px;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 18%;
  margin-top: 5%;
  margin-bottom: 2%;
  color: #2C3256;
}



.coordinate_box input[type="text"] {
  width: 225px;
  height: 25px;
  font-size: 15px;
}


/*----------------------big div settings -----------------------*/
.headings {
  display: inline-block;
  margin-top: 2%;
  margin-left: 5%;
}


.title {
  text-align: center;
}



/*----------------------- game players -----------------*/

/*.game_players {
  display: inline-block;
}
*/
.game_players{
    position: absolute;
 /*   display: inline-block;*/
    right: 20px;
    top: 250px;
    padding: 10px;
}



/*------------------------set ship form------------------*/

.set_ship_form {
  float: left;
  display: inline-block;
  margin-left: 4%;
  margin-top: 6%;
  font-size: 23px;
  padding: 10px;
}




/*---------------------board attrs---------------------*/
.player_ships {
  background-color: black;
}

.hit_ships {
  background-color: red;
}

.set_board {
  display: inline-block;
  text-align: center;
  margin-left: 1%;
  /*float: right;*/
}

.coord {
  background-color: #989FA8;
  border-radius: 8px;
  height: 50px;
  width: 50px;
}

.both_boards {
  text-align: center;
  float: right;
  margin-right: 12%;
  margin-left: 12%;
  padding: 5px;
}

.my_board{
  display: inline-block;
  text-align: center;
  padding: 8px;
}

.opponent_board{
  display: inline-block;
  text-align: center;
  padding: 8px;
}


.my_board .coord {
  background-color: #378A9E;
  border-radius: 8px;
  height: 50px;
  width: 50px;

}

.opponent_board .coord {
  background-color: #A0B9BB;
  border-radius: 8px;
  height: 50px;
  width: 50px;
}
 /*----------------------open games list--------------*/


.game_list {
 display: inline-block;
 position: absolute;
 margin-top: 9%;
 margin-left: 3%;
}

ul {
  list-style-type: none;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}


/*--------------------attack board-------------------*/

.attack_board {
  display: inline-block;
  float: right;
  text-align: center;
  margin-right: 13%;
}


.attack_box {
  display: inline-block;
  float: right;
  margin-top:  25%;
  text-align: center;
  font-size: 23px;
  margin-right: 5%;
}



.attack_box input[type="submit"] {
  width: 150px; 
  height: 30px; 
  font-size: 20px;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 2%;
  color: #2C3256;
}



.attack_box input[type="text"] {
  width: 150px; 
  height: 25px; 
  font-size: 15px;
}


.attack_board{
  display: inline-block;
  text-align: center;
  padding: 8px;
}



.attack_board .coord {
  background-color: #A0B9BB;
  border-radius: 8px;
  height: 50px;
  width: 50px;
}










/*------------------------do not touch---------------*/

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

#main {
  width: 700px;
  height: 800px;
  margin: auto;

}

.board {
  position: absolute;
  width: 380px;
  height: 740px;
  margin: 25px auto;
  border: 2px solid #73B1B7;
  border-radius: 10px;
}

.displays {
  position: relative;
  margin: 25px;
}

.top {
  width: 330px;
  height: 330px;
  background: #008B8B;
  border-left: 1px solid #8DEEEE;
  border-bottom: 1px solid #8DEEEE;

}

.bottom {
  width: 330px;
  height: 330px;
  margin-top: 25px;
  background: #008B8B;
  border-left: 1px solid #8DEEEE;
  border-bottom: 1px solid #8DEEEE;
}

.grid {
  position: absolute;
  width: 300px;
  height: 300px;
  background: rgba(0,0,0,0);
  margin-left: 30px;
  font-size: 0;
}

.aTops {
  width: 29px;
  height: 29px;
  border-top: 1px solid #8DEEEE;
  border-right: 1px solid #8DEEEE;
  display: table-cell;
  vertical-align: middle;

  font-weight: bold;
  color: white;
  text-align: center;
}

.aLeft {
  position: relative;
  width: 29px;
  height: 29px;
  border-top: 1px solid #8DEEEE;
  border-right: 1px solid #8DEEEE;
  display: block;
  line-height: 29px;

  font-weight: bold;
  color: white;
  text-align: center;
}

.points {
  position: relative;
  width: 29px;
  height: 29px;
  border-top: 1px solid #8DEEEE;
  border-right: 1px solid #8DEEEE;
  display: inline-block;


}

.highlight {
  background: rgba(144,144,144,0.9);
}

.hidezero {
  color: #008B8B;
}

.hole {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 9px;
  border: 1px solid #8DEEEE;
  border-radius: 50%;
  display: table;
}


.panel {
  float: right;
  width: 275px;
  height: 740px;
  margin-top: 25px;
}

.topPanel {
  width: 275px;
  height: 350px;
  border: 2px solid #73B1B7;
  border-radius: 10px;
  display: inline-block;
}

.bottomPanel {

}

.console {
  position: relative;
  width: 275px;
  height: 350px;
  margin-top: 36px;
  display: block;

  background: rgba(144,144,144,0.6);
  border: 2px solid #73B1B7;
  border-radius: 10px;

  color: green;
}

.text {
  position: relative;
  width: 250px;
  height: 375px;
  margin: 12px;
  display: inline-block;
}

.buttons {
  position: relative;
  display: block;
  width: 150px;
  height: 40px;

  margin: 50px auto;
  border: 2px solid #cccccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

  text-align: center;
  line-height: 40px;

  cursor: pointer;
}

.buttons:hover {
  background: rgba(169,169,169,0.3);
}

.target {
  background: rgba(250, 10, 10, 0.7);
}

.carrier {
  background: rgba(36,36,36,1);
}

.battleship {
  background: rgba(49,49,49,0.9);
}

.cruiser {
  background: rgba(64,64,64,0.9);
}

.destroyer {
  background: rgba(81,81,81,0.7);
}

.frigate {
  background: rgba(100,100,100,0.7);
}

.one {

}

.self {
}

.random {

}

.error {

}

.turn {

}

.hit {
  position: relative;
  margin: 1.5px;
  width: 15px;
  height: 15px;
  top: 5px;
  left: 5px;


  background: rgb(220,10,10);
  border: 1px solid red;
  border-radius: 100%;
  overflow: hidden;

  display: table;

  animation-name: expand;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: none;

  -webkit-animation-name: expand;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: none;

  -moz-animation-name: expand;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  -moz-animation-fill-mode: none;
}

.miss {
  position: relative;
  margin: 1.5px;
  width: 15px;
  height: 15px;
  top: 5px;
  left: 5px;

  background: rgb(250,250,250);
  border: 1px solid white;
  border-radius: 100%;
  overflow: hidden;

  display: table;

  animation: expand;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: none;

  -webkit-animation: expand;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: none;

  -moz-animation: expand;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  -moz-animation-fill-mode: none;

}

@keyframes expand {
  0% {
    width: 0px;
    height: 0px;
    top: 12.5px;
    left: 12.5px;
  }
  50% {
    width: 25px;
    height: 25px;
    top: 0px;
    left: 0px;
  }
  100% {
    width: 15px;
    height: 15px;
    top: 5px;
    left: 5px;
  }
}

@-webkit-keyframes expand {
  0% {
    width: 0px;
    height: 0px;
    top: 12.5px;
    left: 12.5px;
  }
  50% {
    width: 25px;
    height: 25px;
    top: 0px;
    left: 0px;
  }
  100% {
    width: 15px;
    height: 15px;
    top: 5px;
    left: 5px;
  }
}

@-moz-keyframes expand {
  0% {
    width: 0px;
    height: 0px;
    top: 12.5px;
    left: 12.5px;
  }
  50% {
    width: 25px;
    height: 25px;
    top: 0px;
    left: 0px;
  }
  100% {
    width: 15px;
    height: 15px;
    top: 5px;
    left: 5px;
  }
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
